<!DOCTYPE html>
html(lang="ko-KR")
head
	meta(charset="UTF-8")
	title pages
	script(src="js/jquery.min.js")
	link(rel="stylesheet", href="css/style.css")
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
body
	.wrapper
		.banner
			li
				img(src="images/bower.png", alt="")
			li
				img(src="images/gulp.png", alt="")
			li
				img(src="images/browsesync.png", alt="")

			a.fa.fa-arrow-left.fa-3x(href="", role="button")
			a.fa.fa-arrow-right.fa-3x(href='', role="button")
			a.fa.fa-play.fa-3x
			a.fa.fa-pause.fa-3x