<!DOCTYPE html>
html(lang="ko-KR")
	head
		meta(charset="UTF-8")
		title hanguel
		script(src="style/js/jquery.min.js")
		link(rel="stylesheet", href="style/css/style.css")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

	body
		header
			a(href="#", aria-label="logo, you can move index page")
				span.logo hello hangul
			span.logo.placeholder hello hangul
			|only education makes equal world. this is for teaching Korean and learning Korean, we are supporting you

		

		.wrapper.cf
			


		footer.cl
			div
				p Address: Fastcampus 13, Dosan-daero 4-gil, Gangnam-gu, Seoul
				p Developing Advisor: yamoo9(yamoo9@naver.com)
				p Customer service: @hxd.ord (insta)
				p Copyright ⓒ 2015 FastTrack Asia & FastCampus Seungkwon, DongHyun All Rights Reserved.