@charset 'utf-8'
$logo-color: #7FC36E
$font-color: #333333
$test-color: #29281E
$reset-type: 'normalize'
$tablet: 37.5rem// 600px
$desktop: 62.5rem // 1000px

@import component
@import init
@import common
@import susy_setting
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
@import header
@import layout
@import footer
@import qna


